.drawer {
  position: fixed;
  inset: 0;
  overflow: hidden;

  & > .drawer-backdrop {
    position: absolute;
    transform: scaleX(0);
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease,
      visibility 0.2s ease;
    inset: 0;
    overflow: hidden;
  }

  & > .drawer-content {
    position: absolute;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s ease;
    inset: 0;
  }

  &:not(.open):not(.active):not([open]):not([data-state="open"]):not(
      [data-state="active"]
    ) {
    transform: scaleX(0);
    visibility: hidden;
    opacity: 0;
    transition-delay: 300ms;

    & > .drawer-backdrop {
      transform: scaleX(0);
      visibility: hidden;
      opacity: 0;
      transition-delay: 300ms;
    }
    & > .drawer-content {
      transform: scaleX(0);
      visibility: hidden;
      opacity: 0;
      transition-delay: 0s;
    }
  }

  &.open,
  &.active,
  &[open],
  &[data-state="open"],
  &[data-state="active"] {
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;

    & > .drawer-backdrop {
      transform: scaleX(1);
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }

    & > .drawer-content {
      transform: scaleX(1);
      visibility: visible;
      opacity: 1;
      transition-delay: 200ms;
    }
  }
}

@media (min-width: 640px) {
  .drawer.sm\:drawer-open {
    position: static;

    & > .drawer-backdrop {
      display: none;
      transform: scaleX(0);
      visibility: hidden;
      opacity: 0;
    }

    & > .drawer-content {
      position: static;
      transform: scaleX(1);
      visibility: visible;
      opacity: 1;
      transition-delay: 200ms;
    }
  }
}

@media (min-width: 768px) {
  .drawer.md\:drawer-open {
    position: static;

    & > .drawer-backdrop {
      display: none;
      transform: scaleX(0);
      visibility: hidden;
      opacity: 0;
    }

    & > .drawer-content {
      position: static;
      transform: scaleX(1);
      visibility: visible;
      opacity: 1;
      transition-delay: 200ms;
    }
  }
}

@media (min-width: 1024px) {
  .drawer.lg\:drawer-open {
    position: static;

    & > .drawer-backdrop {
      display: none;
      transform: scaleX(0);
      visibility: hidden;
      opacity: 0;
    }

    & > .drawer-content {
      position: static;
      transform: scaleX(1);
      visibility: visible;
      opacity: 1;
      transition-delay: 200ms;
    }
  }
}

@media (min-width: 1280px) {
  .drawer.lg\:drawer-open {
    position: static;

    & > .drawer-backdrop {
      display: none;
      transform: scaleX(0);
      visibility: hidden;
      opacity: 0;
    }

    & > .drawer-content {
      position: static;
      transform: scaleX(1);
      visibility: visible;
      opacity: 1;
      transition-delay: 200ms;
    }
  }
}
