.input {
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: all 0.5s;
  outline: none;
  border: 1px solid hsl(var(--border));
  border-radius: 0.25em;
  background-color: transparent;
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
  min-height: 2.5em;
  resize: vertical;
  font-size: 1rem;

  &::placeholder {
    color: hsl(var(--placeholder));
  }

  &[data-state="active"] {
    border-color: currentColor;
    background-color: hsl(var(--muted / 0.25));
  }

  &.active,
  &.focused,
  &:active,
  &:focus-within,
  &[data-state="active"],
  &[data-state="focused"] {
    border-color: currentColor;
    background-color: hsl(var(--muted / 0.25));
  }

  &.disabled,
  &:disabled,
  &[data-state="disabled"] {
    opacity: 0.5;
    animation: none;
    cursor: not-allowed;
  }

  &.loading,
  &[data-state="loading"] {
    opacity: 0.5;
    animation: none;
    cursor: wait;
  }
}
