.switch {
  display: inline-block;
  flex-shrink: 0;
  appearance: none;
  transition: box-shadow 0.5s;
  cursor: pointer;
  box-shadow:
    -1em 0 0 0.1em hsl(var(--accent-foreground)) inset,
    0 0 0 0.1em hsl(var(--accent-foreground)) inset;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  background-color: hsla(var(--accent), 0.75);
  width: 2em;
  height: 1em;
  font-size: 1rem;

  &.active,
  &.checked,
  &:checked,
  &[data-state="active"],
  &[data-state="checked"] {
    box-shadow:
      1em 0 0 0.1em hsl(var(--accent-foreground)) inset,
      0 0 0 0.1em hsl(var(--accent-foreground)) inset;
    border-color: hsl(var(--accent));
    background-color: hsl(var(--accent));
  }

  &.disabled,
  &:disabled,
  &[data-state="disabled"] {
    opacity: 0.5;
    animation: none;
    cursor: not-allowed;
  }

  &.loading,
  &[data-state="loading"] {
    opacity: 0.5;
    animation: none;
    cursor: wait;
  }
}
